body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
input[type="text"],input[type="password"],input[type="submit"]{
    border: 1px solid #A73683;
}
.btnsubmit{
    background-color: #3FB498;
    color: #FFF;
}
@media screen and (min-width: 600px) {
    .header{
        display:none;
    }
    footer{
        display: none;
    }
}