header{    
    background-color: #29ABE2;
}
header .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;       
    justify-content: space-around;
    align-items: center;
    color: #fff;    
}
main{
    background-color: #C6D5D8; 
    background-image: url("../../Img/logo.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;     
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    height: 90vh;       
}
footer{
    height: 5vh;
    background-color: #112733;  
}